graph {
    fill-color: black;
    text-color: rgba(220, 200, 220, 0);
    text-mode: hidden;
}

node {
    text-size: 10;
    text-alignment: right;
    text-offset: 8px;
    text-color: rgba(220, 200, 220, 80);
    size: 15px;
    fill-color: yellow, rgba(0,0,0,0);
    fill-mode: gradient-radial;
}

edge {
    arrow-size: 2px, 2px;
    fill-color: rgba(220, 220, 220, 50);
}

node.nyscript {
    fill-color: red, rgba(0,0,0,0);
}

node.nyddl {
    fill-color: yellow, rgba(0,0,0,0);
}

node.nyq {
    fill-color: green, rgba(0,0,0,0);
}